<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BatchRootDirectory" value="%LOCALAPPDATA%\ContosoLegacyBank\Batch" />
    <add key="InputDirectoryName" value="Input" />
    <add key="ArchiveDirectoryName" value="Archive" />
    <add key="ErrorDirectoryName" value="Error" />
    <add key="ReportsDirectoryName" value="Reports" />
    <add key="AccountServiceEndpoint" value="http://localhost:8090/AccountService" />
    <add key="ServiceTimeoutSeconds" value="30" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
